@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
} 
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p{
    font-weight: 400;
}

a{
    text-decoration: none;   
}
.mb-70{
     margin-bottom: 70px;
 }
.pb-60{
     padding-bottom: 60px;
 }
.pt-30{
    padding-top: 30px;
}
 .mb-165 {
    margin-bottom: 165px;
}
.text-center{
    text-align: center;
}

.section-title h2 {
    font-size: 25px;
    color: #fff;
    padding: 70px 0;
}

/* ------------------------
    hero area styles
--------------------- */
header {
    background: #2D25A0;
    /* height: 100vh; */
    
}
header:hover .slider-img >img  {
   animation: shake 1.5s infinite;
   animation-direction: alternate;
}

@keyframes shake {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.9);
    }
  }
.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 21px;
    position: relative;
}
.main-menu ul {
    display: flex;
}
.main-menu ul li {
    list-style: none;
}

.main-menu ul li a {
    color: #fff;
    margin-right: 36px;
    font-size: 16px;
}
.header-login-btn a {
    margin-top: 0;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.slider-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider-text h2 {
    font-size: 64px;
    color: #fff;
    line-height: 80px;
}
.btn {
    font-size: 16px;
    color: #fff;
    background: #E02C6D;
    padding: 10px 25px;
    display: inline-block;
    margin-top: 25px;
    
}
.btn1 {
    font-size: 16px;
    color: #fff;
    background: #E02C6D;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 25px;
    position: relative;
    transition: all .35s;
    
}

.slider-btn i {
    margin-left: 8px;
}
.btn:hover i{
    transform: scale(1.3);
}
.header-login-btn i {
    margin-right: 10px;
}
/* btn-hover */

  
.btn1 span{
    position: relative;
    z-index: 2;
}
  
  .btn1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#1abc9c;
    transition: all .35s;
  }
  
  .btn1:hover{
    color: #fff;
  }
  
  .btn1:hover:after{
    width: 100%;
  }

.slider-img img {
    width: 556.01px;
    height: 438px;
    margin-top: 140px;
    margin-bottom: 90px;
}

/* ------------------------
    player area styles
--------------------- */

.players {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 30px;
}
.single-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.player-thumb{
    padding: 15px;
    padding-bottom: 0;
} 

.player-thumb img {
    width: 330px;
    height: 256px;
}
.players-info {
    padding: 15px 15px 30px 15px;
}

.players-info h4 {
    font-size: 28px;
    color: #18191F;
}

.players-info p {
    font-size: 16px;
    color: #6C6C6C;
    line-height: 26px;
}

/* ------------------------
  Gallery  area styles
--------------------- */

.gallery-area {
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.gallery-area::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2D25A0;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
}
.gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.single-gallery img {
    width: 100%;
}

/* ------------------------
    highlight area styles
--------------------- */

.highlight-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlight-discription h2 {
    color: #0A0826;
    font-size: 48px;
    line-height: 60px;
}
.highlight-discription p {
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    padding: 8px 65px 0 0;
}
.highlight-img img {
    width: 567px;
    height: 427px;
}

/* ------------------------
    Match area styles
--------------------- */
.match-time {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.single-match {
    color: #fff;
    text-align: center;
}

.single-match span {
    color: #fff;
    display: block;
    font-size: 22px;
    padding-bottom: 21px;
}

.single-match p {
    font-size: 21px;
}


.match-area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.match-area::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2D25A0; 
    z-index: -1;
    opacity: 0.5;
}
/* ------------------------
    footer area styles
--------------------- */
.footer-logo img {
    width: 483px;
}
.footer-icon i {
    font-size: 17px;
    background: #E7E7E8;
    width: 32px;
    height: 32px;
    line-height: 31px;
    border-radius: 50%;
    color: #969BAB;
    margin: 0px 7.5px 20px 0;
}
.footer-copyright p {
    font-size: 18px;
    color: #000;
}

.footer-icon a:hover > i {
    color: #2D25A0;
}







/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 97%;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 30px;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.container{
    width: 96%;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.slider-text {
    margin-top: 55px;
}
.slider-img img {
    width: 100%;
    height: auto;
    margin-top: 86px;
    margin-bottom: 70px;
}
.players , .gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 30px;
}
.highlight-wrapper {
    flex-wrap: wrap;
}
.highlight-img img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .container{
        width: 96%;
    }
    .header-navbar {
        display: none;
    }
    .hero-wrapper ,.players {
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-gap: 30px;
    }
    .slider-img img {
        width: 100%;
        height: auto;
        margin-top: 43px;
        margin-bottom: 70px;
    }
    .gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    }
    .highlight-wrapper {
        flex-wrap: wrap;
    }
    .highlight-img img {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    .match-time {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .single-match p, .single-match span.time {
        display: none;
    }
    .single-match {
        padding: 20px 0;
    }
    .footer-logo img {
        width: 75%;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.header-navbar {
    display: none;
}
.hero-wrapper ,.players {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    grid-gap: 30px;
}
.slider-img img {
    width: 100%;
    height: auto;
    margin-top: 43px;
    margin-bottom: 70px;
}
.gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.highlight-wrapper {
    flex-wrap: wrap;
}
.highlight-img img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.match-time {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.single-match p, .single-match span.time {
    display: none;
}
.single-match {
    padding: 20px 0;
}
.footer-logo img {
    width: 75%;
}
 
}


